/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /*To account for the height of the fixed navbar*/
}

.content {
  text-align: center;
}

/*Nav header*/

header {
  position: fixed;
  height: 5.3125rem;
  width: 100%;
  padding: 0 1.875rem;
  background-color: #ffffff;
  z-index: 2;
}

header .content {
  height: 100%;
  display: flex;
  justify-content: space-between; /*Pushes the two boxes out to either end of the header*/
  align-items: center;
}

header .content .logo_container {
  flex: 1.5;
  display: flex;
  flex-shrink: 3;
}

header .content .logo_container .logo {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: 400;
}

header .content nav {
  flex: 1;
}

header .content nav ul {
  display: flex;
  justify-content: space-between; /*Pushes the nav list items apart and ensures that the icon sits up against the right margin of the header*/
  flex-shrink: 0.2;
  min-width: 21.5625rem;
}

header .content nav li {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Roboto";
  font-weight: 400;
}

header .content nav .icon {
  width: 1rem;
  vertical-align: middle;
  margin-left: 0.25rem;
}

.content .mobile {
  display: none;
}

/*Main Content*/

/*Sign-up section*/

#sign-up-section {
  display: flex;
  align-items: center;
  background-image: url(../images/banner-landingpage.jpg);
  background-size: cover;
}

#sign-up-section #sign-up-cta {
  padding: 2rem 5rem 3.5rem;
  background-color: #9dc20a;
  margin: 10.625rem auto 10.625rem 6.25rem;
  border: 1px solid #979797;
  border-radius: 0.25rem;
  display: flex;
  max-width: 36.25rem;
  flex-shrink: 1;
}

#sign-up-cta h2 {
  font-family: Damion;
  color: white;
  font-size: 2.5rem;
  line-height: 1.4;
}

#sign-up-cta h1 {
  color: white;
  font-size: 3.125rem;
  font-family: Rubik, sans-serif;
  line-height: 1.4;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email span {
  margin-top: 0.75rem;
  color: white;
  font-size: 1.25rem;
  font-family: Roboto;
  line-height: 1.4;
  font-weight: 300;
  text-wrap: wrap;
}

.email span strong {
  font-weight: bold;
}

.email .button {
  margin-top: 1.625rem;
  display: flex;
  color: white;
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 500;
  background-color: #4a4a4a;
  width: 25.5rem;
  height: 4rem;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}

/*Features Section*/

#features-section {
  display: flex;
  background-color: lightgrey;
  padding: 0 5rem;
}

#features-section .feature {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1.1875rem;

}

#features-section .feature .image-container {
  display: flex;
  margin: 2rem 2rem 0rem;
  background-color: black;
}

#features-section .feature .image-container img {
  width: 100%;
  object-fit: cover;
}

#features-section .feature .content {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 2rem 0;
  height: 11.6875rem;
  width: auto;
}

#features-section .feature h2 {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#features-section .feature h3 {
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}


/*Filters section*/

#filters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters-section .content {
  width: 100%;
  background-color: #4a4a4a;
  padding: 4rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters-section .content h2 {
  color: white;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: bold;
}

#filters-section .content h3 {
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0.5rem;
  max-width: 33.75rem;
}

.images-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 1% 4rem;
  background-color: #4a4a4a;
}

.images-container .image-container {
  display: flex;
}

.images-container .image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Quotes section*/

#quotes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: lightgrey;
}

#quotes-section .quote {
  color: #4a4a4a;
  font-family: 'Palatino';
  font-style: italic;
  font-size: 1.875rem;
  margin-right: 1.875rem;
}

#quotes-section .quote-citation {
  vertical-align: sub;
}

/*Footer section*/

footer .content {
  display: flex;
  width: 100%;
  height: 3.875rem;
  background-color: #9b9b9b;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}

footer .content span {
  color: white;
  font-size: 0.75rem;
}